.select-container[b-nbq693dhh9] {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #233439;
    display: flex;
    flex-flow: column;
}

.top-col[b-nbq693dhh9] {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.podium[b-nbq693dhh9] {
    aspect-ratio: 2;
    align-content: center;
    background-color: #45616A;
}


    .podium p[b-nbq693dhh9] {
        text-align: center;
        margin: auto;
        font-weight: 800;
        user-select: none;
    }

.button[b-nbq693dhh9] {
    margin-top: 0;
    aspect-ratio: 2;
    background-color: #45616A;
    align-content: center;
    position: absolute;
    transition: background-color 0.1s, transform 0.2s;
}

    .button p[b-nbq693dhh9] {
        text-align: center;
        margin: auto;
        font-weight: 800;
        user-select: none;
    }

    .button:active[b-nbq693dhh9] {
        background-color: #3E574F;
    }

.table-container[b-nbq693dhh9] {
    overflow: auto;
    scrollbar-width: none;
}

    .table-container table[b-nbq693dhh9] {
        margin: auto;
    }


@media (max-width: 600.5px) {
    .select-container[b-nbq693dhh9] {
        padding: 1rem;
        border-radius: 1rem;
        max-height: 75vh;
        margin-bottom: 1.5rem;
        max-width: 90vw;
    }

    .podium[b-nbq693dhh9] {
        margin: 0 0 0.75rem 0;
        width: 3.75rem;
        border-radius: 0.375rem;
    }

        .podium p[b-nbq693dhh9] {
            font-size: 0.9375rem;
        }

    .button[b-nbq693dhh9] {
        width: 3.75rem;
        right: 0.1875rem;
        margin: 0 0 0.75rem 0;
        border-radius: 0.375rem;
    }

        .button p[b-nbq693dhh9] {
            font-size: 0.9375rem;
        }
}

@media (min-width: 600.5px) {
    .select-container[b-nbq693dhh9] {
        padding: 2rem;
        border-radius: 2rem;
        max-height: 75vh;
        max-width: 75vw;
        margin-bottom: 1.5rem;
    }

    .podium[b-nbq693dhh9] {
        margin: 0 0 1rem 0;
        width: 5rem;
        border-radius: 0.5rem;
    }

        .podium p[b-nbq693dhh9] {
            font-size: 1.25rem;
        }

    .button[b-nbq693dhh9] {
        width: 5rem;
        right: 0.25rem;
        margin: 0 0 1rem 0;
        border-radius: 0.5rem;
    }

        .button p[b-nbq693dhh9] {
            font-size: 1.25rem;
        }
}

@media (hover: hover) {
    .button:hover[b-nbq693dhh9] {
        transform: scale(1.05);
    }
}