@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="wholecontainer">
    <header class ="@(IsNotScrollPage ? "heaaad" : "")">
        <nav class="navbar navbar-expand-sm py-4"
             style="background-color: #45616A; top: -1px">
            <div class="container-fluid">
                <div class="navbar-brand">@(string.IsNullOrEmpty(title) ? "penguinL90 - 404" : title)</div>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navcolcont">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcolcont">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">主頁</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">座位系統</a>
                            <ul class="dropdown-menu">
                                <li><a href="seating-system/" class="dropdown-item">主頁</a></li>
                                <li><a href="seating-system/selector" class="dropdown-item">座位選擇器</a></li>
                                <li><a href="seating-system/distributor" class="dropdown-item">座位分配器</a></li>
                                <li><a href="seating-system/urigenerator" class="dropdown-item">網址生成器</a></li>
                            </ul>
                        </li>
@*                         <li class="nav-item">
                            <a class="nav-link" href="/dotword-generator">點點字生成器</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <CascadingValue Value="this">
        @Body
    </CascadingValue>

    <footer class="@(IsNotScrollPage ? "fooot" : "")" style="background-color: #45616A; bottom: 0; height: 7.5rem;">
        <div class="container h-100 d-flex flex-column justify-content-evenly">
            <p class="text-center m-0">
                2025 penguinL90
            </p>
            <p class="text-center m-0">
                GitHub - <a href="https://github.com/penguinL90">penguinL90</a>
            </p>
        </div>
    </footer>

</div>



@code {
    [CascadingParameter(Name = "IsNotScrollPage")]
    public bool IsNotScrollPage { get; set; } = false;

    private string _title;
    public string title 
    {
        get => _title;
        set
        {
            if (_title == value) return;
            _title = value;
            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}