<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-10 my-md-5 my-3">
                <div class="card">
                    <img class="card-img-top" 
                         style="aspect-ratio: 1.5;" 
                         src="/img/mainpageimg.png" />
                    <div class="card-body">
                        <h5 class="card-title">座位系統</h5>
                        <p class="card-text">12343455</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 col-10 mb-md-5 mb-3">
                <div class="card">
                    <img class="card-img-top"
                         style="aspect-ratio: 1.5;"
                         src="/img/mainpageimg.png" />
                    <div class="card-body">
                        <h5 class="card-title">座位系統</h5>
                        <p class="card-text">12343455</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 col-10 mb-md-5 mb-3">
                <div class="card">
                    <img class="card-img-top"
                         style="aspect-ratio: 1.5;"
                         src="/img/mainpageimg.png" />
                    <div class="card-body">
                        <h5 class="card-title">座位系統</h5>
                        <p class="card-text">12343455</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
