<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-11 my-md-5 my-4">
                <div class="card">
                    <img class="card-img-top" 
                         style="aspect-ratio: 2;" 
                         src="/img/sesybanner.png" />
                    <div class="card-body d-flex flex-column">
                        <p class="card-text text-center text">
                            歡迎來到座位系統
                            <br/>
                            一個可以視覺化選位、視覺化分發的座位系統。
                            <br />
                            以下是傳送門們
                        </p>
                        <div class="d-flex align-self-center mt-auto w-auto">
                            <a href="/seating-system/selector/" role="button" class="btn btn-outline-secondary me-2">選擇器</a>
                            <a href="/seating-system/distributor/" role="button" class="btn btn-outline-secondary ms-2">分配器</a>
                            <a href="/seating-system/urigenerator/" role="button" class="btn btn-outline-secondary ms-2">網址生成器</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 col-11 mb-md-5 mb-4">
                <div class="card">
                    <img class="card-img-top"
                         style="aspect-ratio: 2;"
                         src="/img/howbanner.png" />
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: 800;">【選擇器 for 使用者】</h5>
                        <p class="card-text">上面都寫了，看不懂?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>