.bg[b-7sduz3adny] {
    height: 80vh;
    overflow: auto;
    scrollbar-width: none;
    display: grid;
}

.map[b-7sduz3adny] {
    justify-self: center;
    align-self: center;
    height: 45rem;
    aspect-ratio: 1.5;
    border: 2px solid;
    border-radius: 1rem;
    margin: 1rem;
    display: grid;
    grid-auto-rows: 1fr 1fr 8fr 1fr;
}

.ctrls[b-7sduz3adny] {
    height: stretch;
    grid-row: 1;
    border: solid;
    border-width: 0 0 2px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1.25fr;
}

.lowerctrl[b-7sduz3adny] {
    border-width: 0 0 0 0;
    grid-template-columns: 1fr 1fr;
}

.ctrls .ctrl[b-7sduz3adny] {
    width: stretch;
    height: contain;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    align-items: center;
    display: grid;
    overflow: auto;
    scrollbar-width: none;
    grid-template-columns: 1fr 1.75fr;
}

.ctrls .bctrl[b-7sduz3adny] {
    grid-template-columns: 1fr 3.5fr;
}

.ctrls .ctrl span[b-7sduz3adny] {
    margin: 0;
    margin-right: 0.5rem;
}

.ctrls .ctrl input[b-7sduz3adny] {
    width: 100%;
    background-color: transparent;
    border: 1px solid;
    border-radius: 0.25rem;
    text-align: center;
}

.podium[b-7sduz3adny] {
    grid-row: 2;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #45616A;
    margin: 0.5rem auto;
}

.tbc[b-7sduz3adny] {
    width: 100%;
    grid-row: 3;
    overflow: auto;
    scrollbar-width: none;
    margin: 0.5rem;
}

    .tbc table[b-7sduz3adny] {
        margin: auto;
        align-self: center;
    }


.summon[b-7sduz3adny] {
    border: solid;
    border-width: 2px 0 0 0;
}


